

button {
    background-color: lightgrey;
    color: #303030;
    border-radius: 4px;
    padding: 6px;
    font-size: 14px;
    font-weight: bolder;
}

#clear-button {
    background-color: lightcoral;
}

#del-button {
    background-color: lightblue;
}

.display-container {
    border: 2px solid grey;
    border-radius: 6px;
    padding: 10px;
    margin: 20px;
    text-align: right;
    background-color: greenyellow;
    font-size: 20px;
    font-weight: bolder;
    text-overflow: ellipsis;
    overflow: hidden;
}

.prev-display {
    font-size: 14px;
}

.left-column {
    display: flex;
}

.center-column {
    display: flex;
    justify-content: center;
    flex: 1;
}

.right-column {
    display: flex;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: midnightblue;
    border: 3px solid grey;
    border-radius: 16px;
    width: 400px;
    height: 300px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    padding: 0px 20px;
}

.span-2 {
    grid-column: span 2;
}