body {
    display: flex;
}

button {
    background-color: darkgray;
    color: white;
    border-radius: 4px;
    padding: 6px;
    font-size: 14px;
    font-weight: bolder;
}

.display {
    border: 1px solid black;
    padding: 10px;
    text-align: right;
    background-color: greenyellow;
    font-size: 20px;
    font-weight: bolder;
}


.left-column {
    display: flex;
}

.center-column {
    display: flex;
    justify-content: center;
    flex: 1;
}

.right-column {
    display: flex;
}

.calculator-container {
    width: 400px;
    height: 800px;
}

.button-container {
    background-color: midnightblue;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 6px;
    padding: 20px;
}